@font-face {
  font-family: "Grotesque Display";
  src: url("/fonts/GrotesqueDisplay.woff22") format("woff2"),
    url("/fonts/GrotesqueDisplay.woff2") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Geist sans";
  src: url("/fonts/GeistVF.woff2") format("woff2"
    ),
    url("/fonts/GeistVF.woff") format("woff"
    );
}

@font-face {
  font-family: "Geist mono";
  src: url("/fonts/GeistMonoVF.woff2") format("woff2"
    ),
    url("/fonts/GeistMonoVF.woff") format("woff"
    );
}

.font-grotesque-display {
  font-family: "Grotesque Display", Arial, sans-serif;
}

body {
  background-color: #000000;
}

.linear-gradient {
  background: linear-gradient(0deg,
      rgba(0,
        0,
        0,
        1) 0%,
      rgba(0,
        0,
        0,
        0) 100%);
}

.linear-gradient-top {
  background: linear-gradient(180deg,
      rgba(0,
        0,
        0,
        1) 0%,
      rgba(0,
        0,
        0,
        0) 100%);
}

/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(0.5) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(0.5) sepia(0.2);
}

#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
  z-index: 30;
}

#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
  opacity: 0.8;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 15s linear infinite,
    foglayer_moveme 35s linear infinite;
  -moz-animation: foglayer_01_opacity 15s linear infinite,
    foglayer_moveme 35s linear infinite;
  animation: foglayer_01_opacity 15s linear infinite,
    foglayer_moveme 35s linear infinite;
}

#foglayer_01.reverse {
  -webkit-animation: foglayer_01_opacity 15s linear infinite,
    foglayer_moveme 35s linear infinite reverse;
  -moz-animation: foglayer_01_opacity 15s linear infinite,
    foglayer_moveme 35s linear infinite reverse;
  animation: foglayer_01_opacity 15s linear infinite,
    foglayer_moveme 35s linear infinite reverse;
}

#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 35s linear infinite,
    foglayer_moveme 25s linear infinite;
  -moz-animation: foglayer_02_opacity 35s linear infinite,
    foglayer_moveme 25s linear infinite;
  animation: foglayer_02_opacity 35s linear infinite,
    foglayer_moveme 25s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("/assets/fog1.png") center center/cover no-repeat transparent;
}

#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("/assets/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }

  22% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.28;
  }

  58% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.16;
  }

  100% {
    opacity: 0.1;
  }
}

@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }

  22% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.28;
  }

  58% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.16;
  }

  100% {
    opacity: 0.1;
  }
}

@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }

  22% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.28;
  }

  58% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.16;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }

  22% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.28;
  }

  58% {
    opacity: 0.4;
  }

  80% {
    opacity: 0.16;
  }

  100% {
    opacity: 0.1;
  }
}

/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.5;
  }
}

@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.5;
  }
}

@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.5;
  }
}

/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }

  27% {
    opacity: 0.2;
  }

  52% {
    opacity: 0.6;
  }

  68% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }

  27% {
    opacity: 0.2;
  }

  52% {
    opacity: 0.6;
  }

  68% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}

@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }

  27% {
    opacity: 0.2;
  }

  52% {
    opacity: 0.6;
  }

  68% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }

  27% {
    opacity: 0.2;
  }

  52% {
    opacity: 0.6;
  }

  68% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.8;
  }
}

/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {

  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}

.lato-thin {
  font-family: "Lato",
    sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato",
    sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato",
    sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato",
    sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato",
    sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato",
    sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato",
    sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato",
    sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato",
    sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato",
    sans-serif;
  font-weight: 900;
  font-style: italic;
}

.LayoutNoise {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.LayoutNoise:after {
  content: "";
  display: block;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-position: 50%;
  background-size: 12%;
  background-image: url("/assets/noise-opacity.png");
  animation: LayoutNoise 0.4s steps(10) infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes LayoutNoise {
  0% {
    transform: translate3d(0,
        19px,
        0);
  }

  10% {
    transform: translate3d(-11px,
        -14px,
        0);
  }

  20% {
    transform: translate3d(-18px,
        12px,
        0);
  }

  30% {
    transform: translate3d(19px,
        -19px,
        0);
  }

  40% {
    transform: translate3d(-12px,
        17px,
        0);
  }

  50% {
    transform: translate3d(-19px,
        -14px,
        0);
  }

  60% {
    transform: translate3d(12px,
        16px,
        0);
  }

  70% {
    transform: translate3d(17px,
        -18px,
        0);
  }

  80% {
    transform: translate3d(-19px,
        11px,
        0);
  }

  90% {
    transform: translate3d(16px,
        -15px,
        0);
  }

  to {
    transform: translate3d(-7px,
        0,
        0);
  }
}

/* .card:before{
  background-image: url('/assets/button-texture.jpg');
  background-size: 250%;
  opacity: 4%;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode:overlay;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all
    0.3s;
  width: 100%;
  z-index: -1;
} */

.button:before {
  background-image: url("/assets/button-texture.jpg");
  background-size: 200%;
  opacity: 80%;
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: absolute;
  top: 0;
  /* transition: all 0.3s; */
  width: 100%;
  z-index: -1;
}

.card_box {
  position: relative;
}

.card_box .tag {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box .tag::before {
  content: 'Most sold';
  padding-left: 25px;
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #eb3535 0%, #fb5b5b 51%, #eb3535 100%);
  transform: rotate(45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_box .tag span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #b83c23;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.card_box .tag span:nth-child(1) {
  top: 0;
  left: 0px;
}

.card_box .tag span:nth-child(2) {
  bottom: 0px;
  right: 0px;
}

.underline-button {
  cursor: pointer;
  position: relative;
  border: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.underline-button:focus,
.underline-button:hover {
  color: #fff;
}

.underline-button:focus:after,
.underline-button:hover:after {
  width: 100%;
  left: 0%;
}

.underline-button:after {
  content: "";
  pointer-events: none;
  /* bottom: -2px; */
  top: 4rem;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}